footer.bg-dark.text-light.mt-5
  .container.py-4
    .row
      .col-md-4
        h5 Sistema CRUD
        p Sistema de gerenciamento de produtos com autenticação JWT.
      
      .col-md-4
        h5 Links Úteis
        ul.list-unstyled
          li
            a.text-light.text-decoration-none(href='/produtos') Produtos
          li
            a.text-light.text-decoration-none(href='/categorias') Categorias
          li
            a.text-light.text-decoration-none(href='/sobre') Sobre
      
      .col-md-4
        h5 Contato
        p
          i.bi.bi-envelope.me-2
          | contato@sistemacrud.com
        p
          i.bi.bi-telephone.me-2
          | (11) 9999-9999
    
    .row.mt-3
      .col-12
        hr
        p.text-center.mb-0
          | © 2024 Sistema CRUD. Todos os direitos reservados.